.seat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.seat {
  margin-right: 20px; /* Adjust the margin as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.selected {
  background-color: #309800; /* Example color for selected seats */
  color: #fff; /* Example text color for selected seats */
  transition: all 0.3s ease; /* Add a transition effect */
}
